node_modules
dist
build

.vscode
.idea

result

package-lock.json
# src/renderer/public/*

# Custom
# *.exe
temp
guest_server/winboat_guest_server.exe
guest_server/winboat_guest_server.zip

# FreeDOS images (downloaded locally or by installer)
images/FD14-LiveCD/
images/FD14-base.qcow2
coverage/
*/.nfs00000000*

